.App {
  text-align: center;
}

body {
  margin: 0;
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* home  */

.header {
  background-color: rgb(81, 121, 177);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.userIcon {
  height: 5vh;
  width: 4vw;
  padding: 0;
  margin: 0;
  align-items: column;
  display: flex;
  align-items: center;
}

.signInButton {
  height: 5vh; 
  width: 5vw; 
  background-color: rgb(81, 121, 177);
  color: white; 
  font-weight: bold; 
  border-radius: 12%; 
  border: white solid; 
  

}

img.signInImage {
  height: 5vh;
  min-width: 4vw;
  margin: 1em;
  border-radius: 8%; 
  

}

.sortCategory,
.sort {
  margin: 2%;
}

h1 {
  margin: 0;
  text-decoration: none;
  padding: 3%;
  color: white;
  border-bottom: none;
}

a {
  text-decoration: none;
}

/* all reviews styling */

.reviewList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 1%;
}

.reviewList li {
  border: solid .2em rgb(81, 121, 177);
  max-width: 400px;
  margin: 2%;
  border-radius: 3%;

}

.reviewCard img {
  width: 70%;
  height: auto;
  border-radius: 3%;
}

/* single review page */
.singleItem {
  display: flex;
  justify-content: center;
}

.singleReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6%;
  padding: 0;
  border: solid rgb(81, 121, 177);
  max-width: 400vw;
}

.singleReview img {
  width: 100%;
}

.backReviews {
  margin: 3%;
  flex-grow: 1;
}

.singleReview h2 {
  background-color: rgb(114, 144, 187);
  color: white;
  margin: 0;
  padding: 2%;
}

.singleReview p {
  padding: 2% 6%;
}

p.author {
  padding: 0;
  margin: 4%;
}

.backReviews {
  max-width: 50%;
  margin: 4% auto;
}

.voteBox {
  width: 10%;
  margin: 2%;
}

/*  view on a larger screen */
@media only screen and (min-width: 800px) {
  .singleReviewBody {
    display: flex;
    padding: 0;
    min-height: 40vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;

  }
  .singleReview img {
    width: 40%;
    margin: 0;
    padding: 4%;
    border-radius: 1%;
  }

  p.reviewContent {
    width: 60%;
    padding: 4% 4% 4% 0;
    margin: 0%;
    text-align: left;
  }

  p.author {
    margin: 1%;
  }

  .reviewInfo {
    display: flex;
    flex-direction: column;
  }

  .imgReview {
    margin: 2%; 
  }

}

/* comment card */

.commentBox {
  border: solid grey;
  margin: 1em;
  padding: 0.5em;
}

.commentList {
  background-color: rgb(221, 220, 220);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.commentList p {
  margin: 0;
  padding: 1em;
}

li.commentListItem {
  border-bottom: solid black;
  border-top: solid grey;
  margin: 1em 0;
  padding: 0;
}


textarea {
  width: 50%;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

/* user */

.userCard {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userCard li {
 
  margin: 1%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: solid grey;
  border-radius: 5%; 
  height: 30vh;
  width: 25vw; 
}

.userCard li img {
  max-width: 8vw;
  max-height: 8vw;
  margin: auto;
}

.userCard li button {
  width: 15vw;
  margin: .5em;
}

.signedInAs {
  font-weight: bold;
  background-color: rgb(81, 121, 177);
  color: white;
  height: 4vh;
  border: solid white;
  margin-top: 2%;
}
/* votes */


.addVote, .downVote {
  margin: 0; 
  font-size: 1.5rem; 
  border: none; 
  border-radius: 10%; 
  color: white; 
 
}

.addVote {
  background-color: rgb(135, 232, 135); 
  
}

.downVote {
  background-color: rgb(241, 130, 130); 
  padding-bottom: 0; 
}

.voteDiv p {
  margin: 0; 
  padding: 1.5%; 

}
